<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner1.png" class="d-block w-100" alt="GTA V">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.png" class="d-block w-100" alt="GTA VI">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.png" class="d-block w-100" alt="READ OR NOT">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>
        Jogos em Promoção.
    </h2>

    <mat-grid-list cols="3">

        <mat-grid-tile>

            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.png" alt="Jogo 1">
        
                <mat-card-header>
                <mat-card-title>Grand Theft Auto V</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <p>
                        Melhor Jogo Da Atualidade
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p> R$ 355,00 </p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>

            
        <mat-grid-tile>

            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo2.png" alt="Jogo 2">
        
                <mat-card-header>
                <mat-card-title>Grand Theft Auto VI</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <p>
                        Promessa Revolucionária!
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p> R$ 499,00 </p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo3.png" alt="Jogo 3">
        
                <mat-card-header>
                <mat-card-title>Read Or Not</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <p>
                        Melhor Simulador Policia
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p> R$ 299,00 </p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
      

    

</main>